<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Amigos - Facebluff</title>
        <meta name="description" content="Facebluff">
    	<meta charset ="utf-8"/>
    	<link type="text/css" rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="header">
            <div id="title">
                <img src="/img/Logo.png" alt="FaceBluff logo" id="logo">
            </div>
            <div id="optionsmenu">
                <a class="options" href="/profile">
                Perfil
                </a>
                <a class="current" href="/friends">
                Amigos
                </a>
                <a class="options"  href="/questions">
                Preguntas
                </a>
                <a class="options"  href="/logout">
                Desconectar
                </a>
                <a class="options"  href="#">
                <%= user.points %> pts.                        
                </a>
            </div>
        </div>
        <div id="content">
            <h2 class="mytext">Resultados de búsqueda</h2>
                <% if (friends.length === "0") { %>
                        <td class="mytext">La búsqueda no dio resultados.</td>
                <% } else { %>
                    <% friends.forEach(friend => { %>
                        <form id="friendRequest" method="POST" action="/sendFriendRequest">
                            <td>
                                <img class="icon_miniature" src="icons/Witch-01.png" alt="profile picture"/> <a class="friendsView" href="#" name="<%= friend.name %>"> <%= friend.name %> </a>
                                <input class="button" type="submit" value="Enviar solicitud">
                            </td>
                        </form>
                    <% }); %>
                <% } %>
        </div>
    </body>
</html>